Eleven-labs FAQ agent(kindergarder_tution center) (1).json
{
  "name": "Eleven-labs FAQ agent(kindergarder/tution center)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fafd3dbe-afff-497f-a5bb-dabd465d32f3",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -352,
        -176
      ],
      "id": "19b30198-a674-455d-a7cc-548e78ed47b7",
      "name": "Webhook",
      "webhookId": "xxxxx"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.question }}.",
        "options": {}
      },
      "id": "8024ca31-cb25-4b8a-90a1-4150a04a5e9e",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -64,
        -176
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "Dental_Agent_Faq",
        "toolDescription": "call this tool to access the database",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {}
      },
      "id": "fbb00815-5ff7-4077-b16e-f6a38dbc77f7",
      "name": "Pinecone Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        240,
        -16
      ],
      "typeVersion": 1.2,
      "credentials": {
        "pineconeApi": {
          "id": "b6gIDga640jFknzs",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -64,
        64
      ],
      "id": "c5404d5e-de2b-4691-b3bf-0614b31668a0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "T1OuMOEN1t8vuE9l",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        160
      ],
      "id": "7db81173-21dd-4a12-9bd7-269e8e4eab55",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "T1OuMOEN1t8vuE9l",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.webhookUrl }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        64,
        80
      ],
      "id": "01787c95-9674-4fb9-b27c-f7d22dd125d1",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        288,
        -176
      ],
      "id": "9283b42c-663e-4b72-92b8-49b848ec8114",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "fc4b9743-a39b-4bc8-9cbd-4a56ddc5a926",
  "meta": {
    "instanceId": "298041bc2608408beaaf79b703a9e506ed46b9ec7f9520bd3013aa10c2364612"
  },
  "id": "NRzlK0VhyZlBholo",
  "tags": []
}