RAG with Google Drive and Pinecone(chat) (1).json
{
  "name": "RAG with Google Drive and Pinecone(chat)",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {}
      },
      "id": "9990d9d8-3c56-49af-beb9-d9a335ed7874",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        848,
        240
      ],
      "typeVersion": 1.1,
      "credentials": {
        "pineconeApi": {
          "id": "b6gIDga640jFknzs",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "id": "b1edcf2c-4b19-43dc-9985-dad03a0e6df2",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        992,
        464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1db4c053-9953-4a63-91cc-676fc59d434d",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        1008,
        592
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "80e69d74-18ca-4d47-8900-9fa070fd2b22",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        368,
        768
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9679f79a-cbee-4d6e-9633-76c96e5c7ffc",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        96,
        768
      ],
      "webhookId": "fa37c7db-d78c-4a86-9de3-7cb6805de74f",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "Dental_Agent_Faq",
        "toolDescription": "call this tool to access the database",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {}
      },
      "id": "6bbee514-a4c6-4ea9-97fb-02d0343c93a9",
      "name": "Pinecone Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        672,
        928
      ],
      "typeVersion": 1.2,
      "credentials": {
        "pineconeApi": {
          "id": "b6gIDga640jFknzs",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        368,
        1008
      ],
      "id": "d74dbeb0-ed60-4706-a258-ac15b75741f1",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "T1OuMOEN1t8vuE9l",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        672,
        1104
      ],
      "id": "870403ee-1c21-44d0-87ea-d689778c7d0f",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "T1OuMOEN1t8vuE9l",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        848,
        448
      ],
      "id": "23f7a390-7866-4b92-8429-9a7005b464d8",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "T1OuMOEN1t8vuE9l",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        496,
        1024
      ],
      "id": "6c1cd97e-d674-45a2-a98e-6fbd3217e272",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        608,
        240
      ],
      "id": "13a4b923-0276-4c27-a39a-010db95570ae",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yuqJJ67PWiZPsxV1",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "limit": 3,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1AeDjCLIdDOEwJmUVeiuFtRzk2OigwURo",
            "mode": "list",
            "cachedResultName": "FAQ",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1AeDjCLIdDOEwJmUVeiuFtRzk2OigwURo"
          },
          "whatToSearch": "files"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        384,
        240
      ],
      "id": "d5dc6df7-d393-4310-8582-5cc63db61735",
      "name": "get pdf doc id",
      "alwaysOutputData": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yuqJJ67PWiZPsxV1",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -320,
        240
      ],
      "id": "716e6a1e-13a8-4fcc-b51e-aa2f944f9071",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "code": {
          "execute": {
            "code": "const vectorStore = await this.getInputConnectionData('ai_vectorStore', 0);\n\nawait vectorStore.delete({\n  deleteAll: true\n});\n\nreturn $input.all();"
          }
        },
        "inputs": {
          "input": [
            {
              "type": "main",
              "maxConnections": 1,
              "required": true
            },
            {
              "type": "ai_vectorStore",
              "maxConnections": 1,
              "required": true
            }
          ]
        },
        "outputs": {
          "output": [
            {
              "type": "main"
            }
          ]
        }
      },
      "id": "a56e60a1-f7dc-4230-812c-79e3e7ff7397",
      "name": "Pinecone Delete Records",
      "type": "@n8n/n8n-nodes-langchain.code",
      "typeVersion": 1,
      "position": [
        -80,
        240
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "id"
        },
        "options": {
          "pineconeNamespace": ""
        }
      },
      "id": "f3e2729d-17c1-4787-8270-7037d697be9a",
      "name": "Pinecone Vector Store2",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        -176,
        400
      ],
      "credentials": {
        "pineconeApi": {
          "id": "b6gIDga640jFknzs",
          "name": "PineconeApi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -176,
        544
      ],
      "id": "5b0a8044-9121-443d-92ab-5f99adb3d395",
      "name": "Embeddings Google Gemini2",
      "credentials": {
        "googlePalmApi": {
          "id": "T1OuMOEN1t8vuE9l",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "get pdf doc id": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Pinecone Delete Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store2": {
      "ai_vectorStore": [
        [
          {
            "node": "Pinecone Delete Records",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini2": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Delete Records": {
      "main": [
        [
          {
            "node": "get pdf doc id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "ce79695b-ee97-49b1-ac54-318b3e3aaf41",
  "meta": {
    "templateId": "4501",
    "templateCredsSetupCompleted": true,
    "instanceId": "298041bc2608408beaaf79b703a9e506ed46b9ec7f9520bd3013aa10c2364612"
  },
  "id": "vrGyiauHh3EYNjgY",
  "tags": []
}